# Importando Bibliotecas

In [79]:
import pandas as pd
import matplotlib.pyplot as plt

# Abrindo Arquivos

In [2]:
seguros = pd.read_csv('/Users/mayumiluiza/Downloads/BaseCompleta/Ses_seguros.csv', sep=';')

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/4212836109.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  seguros = pd.read_csv('/Users/mayumiluiza/Downloads/BaseCompleta/Ses_seguros.csv', sep=';')

In [3]:
seguros_uf = pd.read_csv('/Users/mayumiluiza/Downloads/BaseCompleta/SES_UF2.csv', sep=';')

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/4082301245.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  seguros_uf = pd.read_csv('/Users/mayumiluiza/Downloads/BaseCompleta/SES_UF2.csv', sep=';')

In [4]:
(seguros_uf['premio_ret'] == seguros_uf['prem_ret_liq']).value_counts()

True     8281534
False       9881
dtype: int64

In [5]:
seguradoras = pd.read_csv('/Users/mayumiluiza/Downloads/BaseCompleta/Ses_grupos_economicos.csv', sep=';', encoding='latin-1')

In [6]:
ramo_fip = pd.read_csv('/Users/mayumiluiza/Downloads/BaseCompleta/Ses_ramos.csv', sep=';', encoding='latin-1')

# Visão Geral Planilha Seguros ("Ses_seguros.csv")

In [7]:
#tamanho da tabela
len(seguros)

1611297

In [8]:
#cabeçalho da tabela
seguros.head()

,damesano,coenti,cogrupo,coramo,premio_direto,premio_de_seguros,premio_retido,premio_ganho,sinistro_direto,sinistro_retido,...,premio_emitido2,premio_emitido_cap,despesa_resseguros,sinistro_ocorrido,receita_resseguro,sinistros_ocorridos_cap,recuperacao_sinistros_ocorridos_cap,rvne,conveniodpvat,consorciosefundos
0,200009,5355,299,981.0,"350407,58","350562,87","350291,83","322318,58","9115,33","9153,15",...,0,0,0,0,0,0,0,0,0,0
1,200009,5363,451,993.0,2021293,1269929,1270199,1289821,1064400,1064400,...,0,0,0,0,0,0,0,0,0,0
2,200009,5401,272,111.0,0,0,"2108,63","1986,03",0,"13317,38",...,0,0,0,0,0,0,0,0,0,0
3,200009,5401,272,621.0,0,0,"230,56","236,83",0,"128,31",...,0,0,0,0,0,0,0,0,0,0
4,200009,5401,272,1164.0,0,0,0,0,0,"40,58",...,0,0,0,0,0,0,0,0,0,0

In [9]:
#colunas da tabela
seguros.columns

Index(['damesano', 'coenti', 'cogrupo', 'coramo', 'premio_direto',
       'premio_de_seguros', 'premio_retido', 'premio_ganho', 'sinistro_direto',
       'sinistro_retido', 'desp_com', 'premio_emitido2', 'premio_emitido_cap',
       'despesa_resseguros', 'sinistro_ocorrido', 'receita_resseguro',
       'sinistros_ocorridos_cap', 'recuperacao_sinistros_ocorridos_cap',
       'rvne', 'conveniodpvat', 'consorciosefundos'],
      dtype='object')

In [10]:
seguros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611297 entries, 0 to 1611296
Data columns (total 21 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   damesano                             1611297 non-null  int64
 1   coenti                               1611297 non-null  int64
 2   cogrupo                              1611297 non-null  int64
 3   coramo                               1611295 non-null  float64
 4   premio_direto                        1611297 non-null  object
 5   premio_de_seguros                    1611297 non-null  object
 6   premio_retido                        1611297 non-null  object
 7   premio_ganho                         1611297 non-null  object
 8   sinistro_direto                      1611297 non-null  object
 9   sinistro_retido                      1611281 non-null  object
 10  desp_com                             1611297 non-null  object
 11  premio_emitido2                      1611297 non-null  object
 12  premio_emitido_cap                   1611297 non-null  object
 13  despesa_resseguros                   1611297 non-null  object
 14  sinistro_ocorrido                    1611297 non-null  object
 15  receita_resseguro                    1611297 non-null  object
 16  sinistros_ocorridos_cap              1611297 non-null  object
 17  recuperacao_sinistros_ocorridos_cap  1611297 non-null  object
 18  rvne                                 1611297 non-null  object
 19  conveniodpvat                        1611297 non-null  object
 20  consorciosefundos                    1611297 non-null  object
dtypes: float64(1), int64(3), object(17)
memory usage: 258.2+ MB

# Visão Geral Planilha Seguradoras ("Ses_grupos_economicos.csv")

In [11]:
seguradoras.head()

,damesano,coenti,noenti,cogrupo,nogrupo
0,200405,1007,SABEMI SEGURADORA SA ...,1225.0,INDEPENDENTE
1,200708,1619,DAYPREV VIDA E PREVIDÊNCIA S.A. ...,99999.0,OUTROS GRUPOS
2,201001,2062,LUIZASEG SEGUROS S/A ...,1203.0,CARDIF
3,200602,2143,ASSURANT SEGURADORA SA ...,1225.0,INDEPENDENTE
4,200709,2895,Alfa Previdência e Vida S.A. ...,1192.0,ALFA

In [12]:
len(seguradoras)

57772

In [13]:
seguradoras[seguradoras['noenti'].str.contains('Alper', case=False)]

,damesano,coenti,noenti,cogrupo,nogrupo
10006,202209,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
11637,202208,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
12784,202302,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
13888,202306,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
44101,202305,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
47004,202207,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
47086,202303,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
54887,202304,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
56313,202301,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
56417,202211,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
56658,202212,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
57128,202112,76767,Alper Re Corretora de Resseguros Ltda ...,99999.0,OUTROS GRUPOS
57129,202201,76767,Alper Re Corretora de Resseguros Ltda ...,99999.0,OUTROS GRUPOS
57130,202202,76767,Alper Re Corretora de Resseguros Ltda ...,99999.0,OUTROS GRUPOS
57383,202210,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
57584,202203,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
57585,202204,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
57586,202205,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS
57753,202206,76767,ALPER RE CORRETORA DE RESSEGUROS LTDA ...,99999.0,OUTROS GRUPOS

# Criando planilha com dados dos últimos 5 anos

In [14]:
seguradoras['damesano'].sort_values()

54301
17706
17389
21208                             199905
22150                             199905
                      ...
13858                             202306
13859                             202306
13860                             202306
13852                             202306
14015                             202306
Name: damesano, Length: 57772, dtype: object

In [92]:
seguros_5_anos = seguros[seguros['damesano'] >= 201801]

In [93]:
seguros_5_anos

,damesano,coenti,cogrupo,coramo,premio_direto,premio_de_seguros,premio_retido,premio_ganho,sinistro_direto,sinistro_retido,...,premio_emitido2,premio_emitido_cap,despesa_resseguros,sinistro_ocorrido,receita_resseguro,sinistros_ocorridos_cap,recuperacao_sinistros_ocorridos_cap,rvne,conveniodpvat,consorciosefundos
481,201802,1007,1225,111.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
482,201802,1007,1225,115.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
483,201802,1007,1225,141.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
484,201802,1007,1225,167.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
485,201802,1007,1225,171.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611292,202211,9938,345,994.0,0,0,0,0,0,0,...,0,"51223,88",0,0,0,0,0,0,0,0
1611293,202211,9938,345,1198.0,0,-80980,0,"18614,27",0,0,...,-80980,0,"623,78",-3156,-80,0,0,-80980,0,0
1611294,202211,9938,345,1381.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1611295,202211,9938,345,1383.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1611296,202211,9938,345,1392.0,0,0,0,0,0,0,...,0,"69624526,23",0,0,0,0,0,0,0,0

# Selecionando Colunas apenas de Seguros

In [94]:
colunas_seguros = ['damesano', 'coenti', 'cogrupo', 'coramo', 'premio_direto',
       'premio_de_seguros', 'premio_retido', 'premio_ganho', 'sinistro_direto',
       'sinistro_retido', 'desp_com', 'premio_emitido2', 'sinistro_ocorrido',
       'rvne', 'conveniodpvat']

seguros_5_anos_filtrado = seguros_5_anos[colunas_seguros]

- damesano > Ano e mês da informação

- coenti > Código da Empresa

- cogrupo > Codigo do grupo econômico a que pertence a empresa

- coramo > Código do Ramo no FIP

- premio_direto > Prêmio Direto (R$)

- premio_de_seguros > Prêmio de Seguros (R$)

- premio_retido > Prêmio Retido (R$)

- premio_ganho > Prêmio Ganho (R$)

- sinistro_direto > Sinistro de Seguros (R$)

- sinistro_retido > Sinistro Retido (R$)

- desp_com > Custo de Aquisição(R$)

- premio_emitido2 > Prêmios Emitidos (R$)

- premio_emitido_cap > Prêmios Emitidos em Regime de Capitalização (R$)

- despesa_resseguros > Despesas com Resseguros (R$)

- sinistro_ocorrido > Sinistros Ocorridos (R$)

- receita_resseguro > Receitas com Resseguros (R$)

- sinistros_ocorridos_cap > Sinistros Ocorridos (Regime de Capitalização e Repartição de Capitais de Cobertura) (R$)

- recuperacao_sinistros_ocorridos_cap > Recuperação de Sinistros (Regime de Capitalização e Repartição de Capitais de 
Cobertura) (R$)

- rvne > Prêmios de Riscos Vigentes e Não Emitidos (R$)

- conveniodpvat > Prêmios Convênio Dpvat (R$)

- consorciosefundos > Prêmios Cedidos a Consórcios e Fundos (R$)

In [95]:
seguros_5_anos_filtrado.head()

,damesano,coenti,cogrupo,coramo,premio_direto,premio_de_seguros,premio_retido,premio_ganho,sinistro_direto,sinistro_retido,desp_com,premio_emitido2,sinistro_ocorrido,rvne,conveniodpvat
481,201802,1007,1225,111.0,0,0,0,0,0,0,0,0,0,0,0
482,201802,1007,1225,115.0,0,0,0,0,0,0,0,0,0,0,0
483,201802,1007,1225,141.0,0,0,0,0,0,0,0,0,0,0,0
484,201802,1007,1225,167.0,0,0,0,0,0,0,0,0,0,0,0
485,201802,1007,1225,171.0,0,0,0,0,0,0,0,0,0,0,0

# Dados sobre Alper

In [96]:
(seguros_5_anos_filtrado['coenti'] == 76767).sum()

0

In [97]:
seguros[seguros['coenti'] == 76767]

Empty DataFrame
Columns: [damesano, coenti, cogrupo, coramo, premio_direto, premio_de_seguros, premio_retido, premio_ganho, sinistro_direto, sinistro_retido, desp_com, premio_emitido2, premio_emitido_cap, despesa_resseguros, sinistro_ocorrido, receita_resseguro, sinistros_ocorridos_cap, recuperacao_sinistros_ocorridos_cap, rvne, conveniodpvat, consorciosefundos]
Index: []

[0 rows x 21 columns]

# Estruturação Colunas

In [98]:
seguros_5_anos_filtrado['Mês'] = seguros_5_anos_filtrado['damesano'].astype(str).str[-2:]

seguros_5_anos_filtrado['Ano'] = seguros_5_anos_filtrado['damesano'].astype(str).str[:4]

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/2642529691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['Mês'] = seguros_5_anos_filtrado['damesano'].astype(str).str[-2:]
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/2642529691.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['Ano'] = seguros_5_anos_filtrado['damesano'].astype(str).str[:4]

In [201]:
seguros_5_anos_filtrado.head()

,damesano,coenti,cogrupo,coramo,premio_direto,premio_de_seguros,premio_retido,premio_ganho,sinistro_direto,sinistro_retido,desp_com,premio_emitido2,sinistro_ocorrido,rvne,conveniodpvat,Mês,Ano
481,201802,1007,1225,111.00,0.00,0.00,0,0.00,0,0,0.00,0.00,0.00,0.00,0.00,2,2018
482,201802,1007,1225,115.00,0.00,0.00,0,0.00,0,0,0.00,0.00,0.00,0.00,0.00,2,2018
483,201802,1007,1225,141.00,0.00,0.00,0,0.00,0,0,0.00,0.00,0.00,0.00,0.00,2,2018
484,201802,1007,1225,167.00,0.00,0.00,0,0.00,0,0,0.00,0.00,0.00,0.00,0.00,2,2018
485,201802,1007,1225,171.00,0.00,0.00,0,0.00,0,0,0.00,0.00,0.00,0.00,0.00,2,2018

In [100]:
seguros_5_anos_filtrado['Mês'].astype(int)
seguros_5_anos_filtrado['Ano'].astype(int)
seguros_5_anos_filtrado['damesano'].astype(int)

481        201802
482        201802
483        201802
484        201802
485        201802
            ...
1611292    202211
1611293    202211
1611294    202211
1611295    202211
1611296    202211
Name: damesano, Length: 335646, dtype: int64

In [101]:
seguros_5_anos_filtrado['Mês'].unique()

array(['02', '03', '10', '12', '06', '08', '09', '04', '05', '01', '07',
       '11'], dtype=object)

In [102]:
seguros_5_anos_filtrado['Mês'] = pd.to_numeric(seguros_5_anos_filtrado['Mês'])
seguros_5_anos_filtrado['Ano'] = pd.to_numeric(seguros_5_anos_filtrado['Ano'])

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/2823097633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['Mês'] = pd.to_numeric(seguros_5_anos_filtrado['Mês'])
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/2823097633.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['Ano'] = pd.to_numeric(seguros_5_anos_filtrado['Ano'])

In [103]:
seguros_5_anos_filtrado['premio_direto'] = pd.to_numeric(seguros_5_anos_filtrado['premio_direto'], errors='coerce')
seguros_5_anos_filtrado['premio_de_seguros'] = pd.to_numeric(seguros_5_anos_filtrado['premio_de_seguros'], errors='coerce')
seguros_5_anos_filtrado['premio_retido'] = pd.to_numeric(seguros_5_anos_filtrado['premio_retido'], errors='coerce')
seguros_5_anos_filtrado['premio_ganho'] = pd.to_numeric(seguros_5_anos_filtrado['premio_ganho'], errors='coerce')
seguros_5_anos_filtrado['sinistro_direto'] = pd.to_numeric(seguros_5_anos_filtrado['sinistro_direto'], errors='coerce')
seguros_5_anos_filtrado['sinistro_retido'] = pd.to_numeric(seguros_5_anos_filtrado['sinistro_retido'], errors='coerce')
seguros_5_anos_filtrado['desp_com'] = pd.to_numeric(seguros_5_anos_filtrado['desp_com'], errors='coerce')
seguros_5_anos_filtrado['premio_emitido2'] = pd.to_numeric(seguros_5_anos_filtrado['premio_emitido2'], errors='coerce')
seguros_5_anos_filtrado['sinistro_ocorrido'] = pd.to_numeric(seguros_5_anos_filtrado['sinistro_ocorrido'], errors='coerce')
seguros_5_anos_filtrado['rvne'] = pd.to_numeric(seguros_5_anos_filtrado['rvne'], errors='coerce')
seguros_5_anos_filtrado['conveniodpvat'] = pd.to_numeric(seguros_5_anos_filtrado['conveniodpvat'], errors='coerce')

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['premio_direto'] = pd.to_numeric(seguros_5_anos_filtrado['premio_direto'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['premio_de_seguros'] = pd.to_numeric(seguros_5_anos_filtrado['premio_de_seguros'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['premio_retido'] = pd.to_numeric(seguros_5_anos_filtrado['premio_retido'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['premio_ganho'] = pd.to_numeric(seguros_5_anos_filtrado['premio_ganho'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['sinistro_direto'] = pd.to_numeric(seguros_5_anos_filtrado['sinistro_direto'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['sinistro_retido'] = pd.to_numeric(seguros_5_anos_filtrado['sinistro_retido'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['desp_com'] = pd.to_numeric(seguros_5_anos_filtrado['desp_com'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['premio_emitido2'] = pd.to_numeric(seguros_5_anos_filtrado['premio_emitido2'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['sinistro_ocorrido'] = pd.to_numeric(seguros_5_anos_filtrado['sinistro_ocorrido'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['rvne'] = pd.to_numeric(seguros_5_anos_filtrado['rvne'], errors='coerce')
/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3338052635.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado['conveniodpvat'] = pd.to_numeric(seguros_5_anos_filtrado['conveniodpvat'], errors='coerce')

In [104]:
seguros_5_anos_filtrado[seguros_5_anos_filtrado['premio_direto'].isnull()]

,damesano,coenti,cogrupo,coramo,premio_direto,premio_de_seguros,premio_retido,premio_ganho,sinistro_direto,sinistro_retido,desp_com,premio_emitido2,sinistro_ocorrido,rvne,conveniodpvat,Mês,Ano
501,201802,1007,1225,929.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,0.0,0.0,2,2018
502,201802,1007,1225,977.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,0.0,0.0,2,2018
505,201802,1007,1225,982.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,0.0,0.0,2,2018
509,201802,1007,1225,993.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,0.0,0.0,2,2018
514,201802,1414,1225,167.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,NaN,0.0,2,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611272,202205,8737,99999,1537.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,-856.0,0.0,5,2022
1611275,202205,8737,99999,1734.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,-1445.0,0.0,5,2022
1611289,202211,9938,345,982.0,NaN,NaN,0,NaN,0,0,NaN,NaN,1533768.0,-1153002.0,0.0,11,2022
1611290,202211,9938,345,984.0,NaN,NaN,0,NaN,0,0,NaN,NaN,491.0,-15794.0,0.0,11,2022
1611291,202211,9938,345,993.0,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,-452929.0,0.0,11,2022

In [105]:
seguros_5_anos_filtrado.fillna(0, inplace=True)

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/3427912880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seguros_5_anos_filtrado.fillna(0, inplace=True)

# Análise Geral Prêmio

In [106]:
premios_5_anos_agregado['premio_retido'].value_counts()

0    7452
Name: premio_retido, dtype: int64

In [107]:
premios_5_anos_agregado = seguros_5_anos_filtrado.groupby(['coenti', 'Mês', 'Ano'])['premio_direto', 'premio_de_seguros', 'premio_ganho', 'premio_emitido2'].sum()

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/123525491.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  premios_5_anos_agregado = seguros_5_anos_filtrado.groupby(['coenti', 'Mês', 'Ano'])['premio_direto', 'premio_de_seguros', 'premio_ganho', 'premio_emitido2'].sum()

In [108]:
colunas_para_transformar = ['premio_direto', 'premio_de_seguros', 'premio_ganho', 'premio_emitido2']
premios_5_anos_agregado[colunas_para_transformar] = premios_5_anos_agregado[colunas_para_transformar].abs()

In [109]:
premios_5_anos_agregado['premio_consolidado'] = premios_5_anos_agregado[colunas_para_transformar].max(axis=1)

In [110]:
premios_5_anos_agregado

                 premio_direto  premio_de_seguros  premio_ganho  \
coenti Mês Ano
1007   1   2018            0.0                0.0           0.0
           2019            0.0                0.0           0.0
           2020            0.0                0.0           0.0
           2021            0.0                0.0           0.0
           2022            0.0                0.0           0.0
...                        ...                ...           ...
9938   12  2018           95.0               95.0           0.0
           2019            0.0                0.0           0.0
           2020        94698.0            94800.0           0.0
           2021            0.0                0.0           0.0
           2022            0.0                0.0           0.0

                 premio_emitido2  premio_consolidado
coenti Mês Ano
1007   1   2018              0.0                 0.0
           2019              0.0                 0.0
           2020              0.0                 0.0
           2021              0.0                 0.0
           2022              0.0                 0.0
...                          ...                 ...
9938   12  2018             95.0                95.0
           2019              0.0                 0.0
           2020          94800.0             94800.0
           2021              0.0                 0.0
           2022              0.0                 0.0

[8041 rows x 5 columns]

In [111]:
(premios_5_anos_agregado['premio_consolidado'] < 0).sum()

0

# Crescimento do mercado por ano

In [127]:
# Soma por Ano
soma_premio_por_ano = premios_5_anos_agregado.groupby('Ano')['premio_consolidado'].sum()

In [147]:
pd.options.display.float_format = '{:.2f}'.format

soma_premio_por_ano

Ano
2018   2588166838.00
2019   3652312329.00
2020   3227234484.00
2021   3145110002.00
2022   3674048997.00
2023   1660091991.00
Name: premio_consolidado, dtype: float64

# Empresa que Mais Faturou nos últimos 5 anos (Prêmios)

In [132]:
soma_premio_por_coenti = premios_5_anos_agregado.groupby('coenti')['premio_consolidado'].sum()

In [140]:
soma_premio_por_coenti.sort_values(ascending=False)

coenti
6785    2.293021e+09
5886    1.168413e+09
6190    1.125184e+09
5495    9.054583e+08
5312    8.000272e+08
            ...
1848    0.000000e+00
2267    0.000000e+00
6360    0.000000e+00
6157    0.000000e+00
3417    0.000000e+00
Name: premio_consolidado, Length: 146, dtype: float64

In [141]:
soma_premio_por_coenti.max()

2293020651.0

In [148]:
brasilseg = seguradoras[seguradoras['coenti'] == 6785]

In [150]:
brasilseg['noenti'].unique()

array(['Companhia de Seguros Aliança do Brasil                                                                                            ',
       'Brasilseg Companhia de Seguros                                                                                                    '],
      dtype=object)

In [144]:
soma_premio_por_coenti.sum()

17946964641.0

In [145]:
(soma_premio_por_coenti.max() * 100) / soma_premio_por_coenti.sum()

12.776648847691904

# Empresa que Mais Faturou em 2022 (Prêmios)

In [151]:
soma_premio_por_coenti_ano = premios_5_anos_agregado.groupby(['coenti','Ano'])['premio_consolidado'].sum()

In [155]:
dados_2022 = soma_premio_por_coenti_ano[soma_premio_por_coenti_ano.index.get_level_values('Ano') == 2022]
maior_valor_2022 = dados_2022.max()
maior_valor_2022

507331459.0

In [225]:
dados_2022.sum()

3674048997.0

In [226]:
(maior_valor_2022 * 100) / dados_2022.sum()

13.808510975609071

In [157]:
seguradoras[seguradoras['coenti'] == 5312]

,damesano,coenti,noenti,cogrupo,nogrupo
2016,201207,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
4511,201405,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
5187,201802,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
5208,201803,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
5781,202207,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
...,...,...,...,...,...
57602,202208,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
57643,202112,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
57644,202202,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
57645,202203,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO
57646,202205,5312,BRADESCO AUTO/RE COMPANHIA DE SEGUROS ...,27.00,BRADESCO

# Empresa que Mais Faturou até o momento em 2023 (Prêmios)

In [158]:
dados_2023 = soma_premio_por_coenti_ano[soma_premio_por_coenti_ano.index.get_level_values('Ano') == 2023]
maior_valor_2023 = dados_2023.max()
maior_valor_2023

604677354.0

In [159]:
seguradoras[seguradoras['coenti'] == 6190]

,damesano,coenti,noenti,cogrupo,nogrupo
3141,201403,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
3142,201404,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
3582,201710,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
5595,201709,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
5765,201812,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
...,...,...,...,...,...
57258,202010,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
57260,202011,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
57261,202012,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
57262,202101,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE
57263,202102,6190,TOKIO MARINE SEGURADORA S.A. ...,1222.00,TOKIO MARINE

# Top 3 empresas que tiveram maior variação de faturamento nos últimos 5 anos (Prêmios)

# Crescimento de Sinistros por Ano

In [172]:
sinistros_5_anos_agregado = seguros_5_anos_filtrado.groupby(['coenti', 'Mês', 'Ano'])['sinistro_direto', 'sinistro_retido', 'sinistro_ocorrido'].sum()

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/1351732683.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sinistros_5_anos_agregado = seguros_5_anos_filtrado.groupby(['coenti', 'Mês', 'Ano'])['sinistro_direto', 'sinistro_retido', 'sinistro_ocorrido'].sum()

In [174]:
sinistros_5_anos_agregado['sinistro_ocorrido'] = sinistros_5_anos_agregado['sinistro_ocorrido'].abs()

In [186]:
soma_sinistros_por_ano = sinistros_5_anos_agregado.groupby('Ano')['sinistro_ocorrido'].sum()
soma_sinistros_por_ano

Ano
2018   583800792.00
2019   765498112.00
2020   782807434.00
2021   765791302.00
2022   947332453.00
2023   576077100.00
Name: sinistro_ocorrido, dtype: float64

# Empresa que teve maior gastos de Sinistros (Sinitros)

In [181]:
soma_sinistros_por_coenti = sinistros_5_anos_agregado.groupby('coenti')['sinistro_ocorrido'].sum()

In [182]:
soma_sinistros_por_coenti.sort_values(ascending=False)

coenti
6238   569598805.00
5177   434128016.00
6190   330622390.00
6513   287820069.00
5355   248392910.00
           ...
3093           0.00
5657           0.00
6360           0.00
2879           0.00
4715           0.00
Name: sinistro_ocorrido, Length: 146, dtype: float64

In [183]:
seguradoras[seguradoras['coenti'] == 6238]

,damesano,coenti,noenti,cogrupo,nogrupo
398,201401,6238,MAPFRE SEGUROS GERAIS S.A. ...,99999.00,OUTROS GRUPOS
399,201402,6238,MAPFRE SEGUROS GERAIS S.A. ...,99999.00,OUTROS GRUPOS
446,201403,6238,MAPFRE SEGUROS GERAIS S.A. ...,99999.00,OUTROS GRUPOS
3231,201905,6238,MAPFRE SEGUROS GERAIS S.A. ...,1212.00,MAPFRE
3288,201505,6238,MAPFRE SEGUROS GERAIS S.A. ...,99999.00,OUTROS GRUPOS
...,...,...,...,...,...
57678,202012,6238,MAPFRE SEGUROS GERAIS S.A. ...,1212.00,MAPFRE
57694,202003,6238,MAPFRE SEGUROS GERAIS S.A. ...,1212.00,MAPFRE
57764,202005,6238,MAPFRE SEGUROS GERAIS S.A. ...,1212.00,MAPFRE
57766,202112,6238,MAPFRE SEGUROS GERAIS S.A. ...,1212.00,MAPFRE
57767,202101,6238,MAPFRE SEGUROS GERAIS S.A. ...,1212.00,MAPFRE

# Aquisições

In [196]:
codigos_unicos = seguros_5_anos_filtrado['coenti'].unique()

In [199]:
seguros_5_anos_filtrado.columns()

TypeError: 'Index' object is not callable

In [197]:

mudancas_por_codigo = seguros_5_anos_filtrado.groupby('coenti')['noenti'].apply(lambda x: (x != x.shift()).sum())

KeyError: 'Column not found: noenti'

# UF com maior taxa de Sinistralidade nos últimos 5 anos

# UF com maior taxa de Sinistralidade em 2022

In [206]:
seguros_uf.columns

Index(['coenti', 'damesano', 'ramos', 'UF', 'premio_dir', 'premio_ret',
       'sin_dir', 'prem_ret_liq', 'gracodigo', 'salvados', 'recuperacao'],
      dtype='object')

In [208]:
seguros_uf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8291415 entries, 0 to 8291414
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   coenti        int64
 1   damesano      int64
 2   ramos         int64
 3   UF            object
 4   premio_dir    object
 5   premio_ret    object
 6   sin_dir       object
 7   prem_ret_liq  object
 8   gracodigo     int64
 9   salvados      object
 10  recuperacao   object
dtypes: int64(4), object(7)
memory usage: 695.8+ MB

In [210]:
seguros_uf['premio_dir'] = pd.to_numeric(seguros_uf['premio_dir'], errors='coerce')
seguros_uf['premio_ret'] = pd.to_numeric(seguros_uf['premio_ret'], errors='coerce')
seguros_uf['sin_dir'] = pd.to_numeric(seguros_uf['sin_dir'], errors='coerce')
seguros_uf['prem_ret_liq'] = pd.to_numeric(seguros_uf['prem_ret_liq'], errors='coerce')
seguros_uf['gracodigo'] = pd.to_numeric(seguros_uf['gracodigo'], errors='coerce')
seguros_uf['salvados'] = pd.to_numeric(seguros_uf['salvados'], errors='coerce')
seguros_uf['recuperacao'] = pd.to_numeric(seguros_uf['recuperacao'], errors='coerce')

In [211]:
seguros_uf_colunas_positivas = ['premio_dir', 'premio_ret', 'sin_dir', 'prem_ret_liq', 'gracodigo', 'salvados', 'recuperacao']
seguros_uf[seguros_uf_colunas_positivas] = seguros_uf[seguros_uf_colunas_positivas].abs()

In [218]:
seguros_uf['Mês'] = seguros_uf['damesano'].astype(str).str[-2:]

seguros_uf['Ano'] = seguros_uf['damesano'].astype(str).str[:4]

seguros_uf['Mês'].astype(int)
seguros_uf['Ano'].astype(int)
seguros_uf['damesano'].astype(int)

0          200811
1          200507
2          200511
3          200501
4          200612
            ...
8291410    202207
8291411    202207
8291412    202207
8291413    202206
8291414    202206
Name: damesano, Length: 8291415, dtype: int64

In [220]:
seguros_uf_5_anos = seguros_uf[seguros_uf['damesano']>=201801]

In [221]:
seguros_uf_agregado = seguros_uf_5_anos.groupby(['UF','Ano'])['premio_dir', 'premio_ret','sin_dir'].sum()

/var/folders/39/b_95705d30x7x38r03qf35500000gn/T/ipykernel_36974/1477287635.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  seguros_uf_agregado = seguros_uf_5_anos.groupby(['UF','Ano'])['premio_dir', 'premio_ret','sin_dir'].sum()

In [222]:
seguros_uf_agregado

         premio_dir  premio_ret     sin_dir
UF Ano
AC 2018  2000118.00   704617.00  4256295.00
   2019  1694259.00  1114835.00  3462538.00
   2020  7535150.00  6289945.00  4548995.00
   2021 10071780.00  9515199.00  3959142.00
   2022  8630957.00  7449109.00  3955366.00
...             ...         ...         ...
TO 2019  9179069.00  3757085.00 11715318.00
   2020 11564566.00  7180509.00 20821356.00
   2021 21981088.00 11996004.00 15414592.00
   2022 28624179.00 12543857.00 22519517.00
   2023  6970645.00  5685044.00  5651487.00

[162 rows x 3 columns]

In [223]:
seguros_uf_agregado.to_csv('seguros_uf_agregado.csv')